services:
  postgres:
    image: postgres:17-alpine
    container_name: ticket-webflux-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: gad-dev
      POSTGRES_PASSWORD: 123456789
    volumes:
      - postgres-data-tickets:/var/lib/postgresql/data
      - ./infra/postgres/init-scripts:/docker-entrypoint-initdb.d
    networks:
      - tickets-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U gad-dev" ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-keycloak:
    image: postgres:17-alpine
    container_name: keycloak-postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123
      POSTGRES_DB: keycloak_db
    volumes:
      - postgres-data-keycloak:/var/lib/postgresql/data
    networks:
      - tickets-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U keycloak" ]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak-users-ecommerce:
    image: quay.io/keycloak/keycloak:26.4.7
    container_name: ecommerce-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-keycloak:5432/keycloak_db
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak123
    ports:
      - "8180:8080"
    volumes:
      - keycloak-data:/opt/keycloak/data
    networks:
      - tickets-network
    depends_on:
      postgres-keycloak:
        condition: service_healthy

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      CLUSTER_ID: "Mk3OEYBSD34fcwNTJENDM2Qk"
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - tickets-network

  maildev:
    image: maildev/maildev
    container_name: ticket-maildev
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - tickets-network

networks:
  tickets-network:
    driver: bridge

volumes:
  postgres-data-tickets:
  postgres-data-keycloak:
  keycloak-data:
  kafka-data: